// Resets, Clearfix, etc
@import "./partials/reset";
@import "./partials/clearfix";
// Variables
$darkColor: maroon;
$lightColor: white;
$brightColor: gold;
$medColor: grey;
$padding: 20px;


// Mixins
@mixin block_font($block_font_size, $block_font_color){
  font-size: $block_font_size;
  color: $block_font_color;
}
@mixin block_display($block_bg_color, $block_display, $block_width){
  .block_family li {
    background-color: $block_bg_color;
    display: $block_display;

  }
  .block_family {
    max-width: $block_width;
  }
}


// Media Query Ranges

body{
  background-color: $brightColor;
  text-align: center;
  color: #EEE;

  @media screen and (min-width: 400px){
    background-color: $brightColor;
    @include block_font(20px, $lightColor);
    @include block_display($darkColor, block, 350px);
  }

  @media screen and (min-width: 600px){
    background-color: $lightColor;
    @include block_font(50px, $darkColor);
    @include block_display($brightColor, inline-block, 350px);
    li:nth-child(1) {
      background-color: grey;
    }
    li:nth-child(3) {
      background-color: grey;
    }
    li:nth-child(5) {
      background-color: grey;
    }
    li:nth-child(7) {
      background-color: grey;
    }
    li:nth-child(9) {
      background-color: grey;
    }
    li:nth-child(11) {
      background-color: grey;
    }
  }

  @media screen and (min-width: 900px){
    background-color: $darkColor;
    @include block_font(70px, $brightColor);
    @include block_display($lightColor, inline-block, 800px)
    li:nth-child(2) {
      background-color: grey;
    }
    li:nth-child(5) {
      background-color: grey;
    }
    li:nth-child(8) {
      background-color: grey;
    }
    li:nth-child(11) {
      background-color: grey;
    }
  }
}


// Styles

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  padding: 20px;
}

h2{

}


.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
}