// Resets, Clearfix, etc
@import "./partials/reset";
@import "./partials/clearfix";
// Variables
$darkColor: maroon;
$lightColor: grey;
$brightColor: gold;
$padding: 20px;
// Media Query Ranges
body{
  background-color: $brightColor;
  text-align: center;
  color: #EEE;

  @media screen and (min-width: 400px){
    background-color: $brightColor;
  }

  @media screen and (min-width: 650px){
    background-color: $lightColor;
  }

  @media screen and (min-width: 1200px){
    background-color: $darkColor;
  }
}

// Mixins

// Styles

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  padding: 20px;
}

h2{

}


.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
}