// Resets, Clearfix, etc
@import "./partials/reset";
@import "./partials/clearfix";
// Variables
$darkColor: maroon;
$lightColor: white;
$brightColor: gold;
$padding: 20px;


// Mixins
@mixin block_font($block_font_size, $block_font_color, $block_bg_color, $block_display, $block_width){
  font-size: $block_font_size;
  color: $block_font_color;
  .block_family li {
    background-color: $block_bg_color;
    display: $block_display;

  }
  .block_family {
    max-width: $block_width;
  }
}


// Media Query Ranges

body{
  background-color: $brightColor;
  text-align: center;
  color: #EEE;

  @media screen and (min-width: 400px){
    background-color: $brightColor;
    @include block_font(20px, $lightColor, $darkColor, block, 350px);
  }

  @media screen and (min-width: 600px){
    background-color: $lightColor;
    @include block_font(50px, $brightColor, $darkColor, inline-block, 350px);
  }

  @media screen and (min-width: 900px){
    background-color: $darkColor;
    @include block_font(70px, $brightColor, $lightColor, inline-block, 800px);
  }
}


// Styles

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  padding: 20px;
}

h2{

}


.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
}